

#search-form input[type="text"] {
    padding: 3px;
    width: 85%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .1em;
    border: 1px solid #ccc;
    background: #fafafa;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 40px;
    float: left;
}

.header .content .logo img, .header .content .logo svg {
    max-width: 30em;
}

ul.pagination li, 
.pagination li {
    border: none !important;

}
ul.pagination li {
    margin: 0;
    padding: 0;
}

.corrections h2 {
    display: none;
}
.corrections a {
    text-decoration: none;
    color: #111;
}
.header .content .logo div:last-child a {
        cursor: pointer;
        color: #FFF;
        font-size: 225%;
        margin-right: .25em;
        text-decoration: none;
    }

    body.hamburger-open .header .quick, body.hamburger-open .header .navigation-mobile {
        display: block !important;
    }
        .header .navigation.navigation-mobile .content ul>li a {
        padding: 1.7586206897em 1em;
        margin: 0;
        display: block;
    }

#filter_bar {
    font-size: 95%;
    background-color: #fafafa;
    padding: .25em .5em;
    margin-bottom: 1.5em}


#search-form button {
    height: 40px;
    float: left;
}

#advanced-form {
    display: none;
}

h1.dc_title a { color: #fff !important; }


.search-entry .row div {
    margin-bottom: .25em;
    padding-bottom: 0;
}

button.remove_search {
    display: inline;
    float: right;
    margin-right: 1.4em;
    font-size: .75em;
    border: 0;
    padding: 0;
    color: #1b6ec2;
}

#gvsu-cf_header-search button {
    background: #0065a4;
    color: white;
    //position: absolute;
    //right: 20px;
    //top: 47px;
    //width: 50px;
    //height: 40px;
    //text-indent: -9999px;
}

#gvsu-cf_header-search{
    padding-top: 1.5em;
}

#gvsu-cf_header-search [name="query_type"] {
  margin-left: 1em;
}

#gvsu-cf_header-search legend {
  font-size: 130%;
}
#gvsu-cf_header-search fieldset {
	padding: 0px;
	margin: 0px;
	border: none !important;
	background-color: transparent;
	padding: 0px;
	box-shadow: none;

}

.advanced-narrow-fieldset {
	background-color: transparent;
	min-height: 0px;
	margin: 0px;
	border: none;
	padding: 0px;
        box-shadow: none;
}

#advanced-form input[type="radio"] {
    margin-right: 5px;
}

.item-pagination {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 18px;
}
#dc_nav_bar .navigation {
    list-style: none;
    padding-left: 0;
}
#dc_nav_bar .navigation a {
  text-decoration: none;
}
#next-item {
    float: right;
}
#previous-item {
  float: left;
}
#primary-nav {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    z-index: 50;
    font-size: .9em;
    margin-bottom: 1.5em;
}
#primary-nav .navigation {
    position: relative;
    z-index: 100;
    overflow: visible;
}
#primary-nav .nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0 0 0 -1px;
    padding: 0 0 0 1px;
    z-index: 15;
}
#primary-nav .nav-item {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    overflow: visible;
}

#primary-nav .nav-item > a {
    position: relative;
    display: inline-block;
    margin: 0 .75em;
}
/*#mobile-nav {
    display: none;
  }*/

/*.collection.record img,
.item.record img {
    width: 100%;
}
*/

.item.record h2 a,
.collection.record h2 a,
.exhibit h2 a {
    color: #333;
    text-decoration: none;
}

#primary-nav ul li {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: .65em .85em;
    font-size: 1.25em;
    font-weight: 100;
    font-family: AlternateGothicFSNo3,Arial,sans-serif;
    color: #4E4E4E;
}

address {
	font-style: normal;
	display: block;
	
}


#sort-links {
    list-style-type: none;
    padding: 0;
    display: block;
    font-size: .9em;
}

.sort-label {
    display: inline-block;
}

#sort-links ul {
    padding-left: 0;
}

#sort-links-list {
    display: inline-block;
    margin: .75em 0 .75em 10px;
}

#sort-links ul li {
    padding-left: 10px;
    display: inline-block;
}

.desc a::after, .asc a::after {
    font-family: "FontAwesome";
    display: inline-block;
    height: 0;
    width: 0;
    margin-right: 16px;
}

.desc a::after {
    content: "\00a0\f0d8";
}

.asc a::after {
    content: "\00a0\f0d7";
}


#secondary-nav, .secondary-nav {
    margin-bottom: 1.5em;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    clear: both;
}

#secondary-nav li, .secondary-nav li {
    padding: 1.5em 0;
    margin-right: 20px;
}

.secondary-nav {
    padding-left: 2%;
}

#dc_nav_bar .navigation li {
    float: left;
}

#secondary-nav a, .secondary-nav a {
    color: #666;
}

nav.pagination-nav {
    clear: both;
}

.pagination {
    padding-left: 0;
    margin: 0 0 1.5em 0;
}
.pagination li {

    list-style-type: none;
}
.pagination a, .pagination form {
    text-decoration: none;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
}
.page-input input[type="text"] {
    border: 1px solid #ccc;
    text-align: right;
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}
.pagination li:last-of-type {
    border-right: 1px solid #e7e7e7;
}

ul.pagination {
    width: auto;
    text-align: right;
}

#filter_bar ul.pagination li {
    background: #fafafa;
}

ul.navigation,
ul.pagination li {
    border: none !important;
}

#collection-items h2 {
    border-bottom: 1px solid #ddd;
}
#collection-items h2 a {
    color: #333;
    text-decoration: none;
}
#item-filters {
    clear: both;
}
#item-filters ul, 
#search-filters ul {
    padding-left: 0;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    margin: -.75em 0 0;
}
#item-filters ul > li, 
#search-filters ul > li,
#search-results span.item-type
{
    display: inline-block;
    background-color: #ddd;
    padding: .375em .75em;
    margin: 0 .75em .75em 0;
}

#search-results .span4:nth-of-type(4n+1) {
    clear:left;
}

#search-results .span4.item a {
    display: block;
}

.search #cms-content h1 {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
}

#item-filters ul, #search-filters ul {
    list-style-type: none;
}
#secondary-nav .active a, 
.secondary-nav .active a {
    background: #fff;
    color: #333;
    font-weight: bold;
}

.featured, #featured-exhibit {
    overflow: hidden;
    background: #ddd;
    padding: 0 3.5% 1em;
    margin-bottom: 1.5em;
}
/*
.item-file > .video {
    border: 1px solid #bbb;
}
*/
.view-items-link {
  margin-top: 1em;
}
.item-file.application-pdf a.download-file,
#item-images div[class*=" image-"] a.download-file {
    /* Make Chrome happy */
    display: block;
}

.item-file.application-pdf a.download-file::after,
#item-images div[class*=" image-"] a.download-file::after { 
    text-align: center;
    display: block;
    color: #fff;
    background-color: #0032a3;
    padding: .25em 0;
    overflow: hidden;
    text-decoration: none;
}


#item-images div[class*=" image-"] a.download-file::after {
    content: "Click to Enlarge";
}

.item-file.application-pdf a.download-file::after { 
    content: "View PDF";
}

a.download-file {
    text-decoration:none;
}

.lib-form input[type="text"],
.lib-form select {
  width: 96%;
  padding: .25em 1%;
  font-size: 1em;
}

#query-types br {
    display: none;
}

#advanced-form {
  border: none !important;
}

.advanced-narrow-legend {
	font-family: inherit;
  	font-size: inherit;
	margin-top:.5em;
	margin-bottom: .5em;
}

#advanced-form legend {
  padding: .1em 0 .25em;
  
}

nav ul.navigation {
  margin-left: 0 !important;
}

#more-toggle {
  font-size: .75em;
  margin: .75em 0;
  color: #0000ee;
  cursor: pointer;
}


#search-filters ul > li:last-child::after {
    content: none;
}

#search-filters ul li ul {
  display: inline-block;
  border-bottom: none;
}

#search-filters ul li ul li {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.items #primary > a {
    display: inline-block;
    margin-top: 1.5em !important;
    font-size: .8em !important;
}

.collections .item-img,
.browse .item-img  {
    height: 250px;
    text-align: center;
    background: #CECDCD;
    display: block;
    white-space: no-wrap;
    font: 0/0 a;
}

a.read-more {
    display: block;
    margin-bottom: 2em;
}

.collections .item-img,
.browse .item-img {
    max-height: 370px;
}

.item-img a {
    text-align:center; /* Align center inline elements */
    font: 0/0 a; 
}
.item-img a:before {
content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.item-img a img {
    vertical-align: middle;
  display: inline-block;
  max-height: 100%;
  width: auto !important;
}

#title_bar {
        background-color: #002855;
        margin-left: -1.4em;
    }

#dc_nav_bar ul.navigation {
    margin-top: 1em;
    margin-left: 0;

}
  #dc_nav_bar ul.navigation li {
font-size: 1.2em;
margin-right: 1em;
}
#dc_nav_bar ul.navigation li a {
    color: #333;
}

form#search-form label {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

.btn-primary a {
    color: #fff;
    text-decoration: none;
}
.btn-primary a:hover
{
    color: ##0039c5;
}

#header_bar {
    background-color: #002855;
}

@media screen and (min-width:768px) {
    .item.hentry {
    height: 40em;
    overflow: hidden;
}

form#search-form {
    margin-top: .5em;
}


}

@media screen and (min-width: 1180px) {
#dc_nav_bar ul.navigation li {
    margin-right: 1em;
    font-size: 1.15em;
}
}

@media screen and (min-width: 1001px) {
#dc_nav_bar ul.navigation li {
    margin-right: .6em;
    font-size: 1em;
}
#search-form input[type="text"] {

    width: 73%;
    margin-bottom: .1em;
}
#title_bar {
    margin-left: auto;
}
}

@media screen and (max-width: 801px) {
  #mobile-nav {
    display: block;
  }
  #primary-nav {
    display: none;
  }
  #dc_nav_bar {
    height: 4em;
    width: 115%;
    margin-left: -2.5em;
    padding-left: 1.4em;
    overflow:hidden;
  }


}

@media screen and (min-width: 801px) {
    #dc_nav_bar ul.navigation li a {
    color: #fff;
}
#facet-toggle {
display: none;
}

}

@media screen and (max-width: 1000px) {
   
#search_bar {
    padding-bottom: .5em;
}
}

@media screen and (min-width: 600px) {



/*
    #item-images .gvsu_media
     {
        width: 49%;
        float: left;
        
    }

    #item-images .gvsu_media:nth-child(3) {
        clear: left;
    }
*/
    #item-images .gvsu_media .video,
    #item-images .gvsu_media .audio
    {
        background-color: #575757;
    }


    .gvsu_only_file {
        width: auto !important
    }

     .gvsu_only_video {
        width: 100% !important
    }

    /* Navigation */
    #cms-body .cms-navigation > ul > li {
        width: auto;
    }


  
   
}



@media screen and (min-width: 986px) {
    .item.record:nth-child(4n+1), 
    .item.hentry:nth-child(4n+1),
    .collection.record:nth-child(4n+1) {
        clear:left;
    }
    #header_bar {
        background-color: #002855;
    }
}

@media screen and (min-width: 800px) and (max-width:985px) {
    .item.record:nth-child(3n+1), 
    .item.hentry:nth-child(3n+1),
    .collection.record:nth-child(3n+1) {
        clear: left;
    }
    #header_wrapper {     
        background-color: #002855;
   
 }
}

@media screen and (min-width: 1px) and (max-width:800px) {

    .item.record:nth-child(2n+1), 
    .collection.record:nth-child(2n+1),
     .item.hentry:nth-child(2n+1) {
        clear: left;
    }
    #filter_bar {
        display: none;
    }

    #search_bar {

    padding: 1%;


    }

    #dc_nav_bar {
        background-color: #fafafa;
        border-bottom: 1px solid #666;
    }

     #dc_nav_bar h1 {
        margin-left: -1.7em;
     }

    .h2.serif { font-size: 1.5em; }
    #header_wrapper {     
        background-color: #002855;
 }

 #solr-facets {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    border-top: 1px solid #333;
    padding-left: 2%;
    overflow: scroll;
    display: none;
}

#search-facet-overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2; 
}

#facet-toggle {
    display: block;
}

}

@media screen and (max-width:700px) {
 #search-form input[type="text"] {
    width: 76%;
}

}

