#gvsu-cf_header-search {
    position: relative;
    font-size: 1.16667em;
    line-height: 1.28571em;
    width: 100% !important;
    margin-top: 1em;
}

#gvsu-cf_header-logo, #gvsu-cf_header-search {
    display: block !important;
}

#search-form input[type="text"] {
    padding: 3px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#search-form input[type="text"], 
#search-form button {
    border: 1px solid #ccc;
    background: #fafafa;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px;
}
.advanced-button {
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .8em;
}
#search-form input[type="text"], 
#search-form button {
    border: 1px solid #ccc;
    background: #fafafa;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    height: 30px;
}
#advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    z-index: 1001;
    top: 30px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 1.5em 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#advanced-form.open {
    display: block;
    font-size: .8em;
}
#advanced-form.closed {
    display: none;
}
#gvsu-cf_header-search label {
    font-size: .8em;
}
#gvsu-cf_header-search button {
    background: #fafafa;
    color: white;
    position: absolute;
    border: 0;
    border-left: 1px solid #ddd;
    right: 0;
    top: 1.7em;
    width: 30px;
    text-indent: -9999px;
}
#gvsu-cf_header-search button::after {
    font-family: "FontAwesome";
    content: "\f002";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    color: #069;
}
#gvsu-cf_header-search legend {
  font-weight: bold;
}
fieldset {
    min-height: 20px;
    padding: none;
    margin-bottom: 20px;
    background-color: #fafafa;
    border: 1px solid #border-style: dot-dash;;
    border-radius: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
#advanced-form input[type="radio"] {
    margin-right: 5px;
}
#gvsu-cf_header-search {
  text-align: left !important;
}
#cms-body h1, 
#cms-body h2, 
#cms-body h3, 
#cms-body h4, 
#cms-body h5, 
#cms-body h6 {
  margin-top: .8em;
  margin-bottom: .3em;
}
.item-pagination {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 18px;
}
.navigation {
    list-style: none;
    padding-left: 0;
}
.navigation a {
  text-decoration: none;
}
#next-item {
    float: right;
}
#previous-item {
  float: left;
}
#primary-nav {
    clear: both;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    z-index: 50;
    font-size: .9em;
    margin-bottom: 1.5em;
}
#primary-nav .navigation {
    position: relative;
    z-index: 100;
    overflow: visible;
}
#primary-nav .nav-menu {
    display: block;
    position: relative;
    list-style: none;
    margin: 0 0 0 -1px;
    padding: 0 0 0 1px;
    z-index: 15;
}
#primary-nav .nav-item {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    overflow: visible;
}

#primary-nav .nav-item > a {
    position: relative;
    display: inline-block;
    margin: 0 .75em;
}
#mobile-nav {
    display: none;
  }

.collection.record img,
.item.record img {
    width: 100%;
}


.item.record h2 a,
.collection.record h2 a,
.exhibit h2 a {
    color: #333;
    text-decoration: none;
}

#primary-nav ul li {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    padding: .65em .85em;
    font-size: 1.25em;
    font-weight: 100;
    font-family: AlternateGothicFSNo3,Arial,sans-serif;
    color: #4E4E4E;
}

#sort-links {
    float: right;
    list-style-type: none;
    padding: 0;
    display: block;
    font-size: .9em;
}

.sort-label {
    display: inline-block;
}

#sort-links ul {
    padding-left: 0;
}

#sort-links-list {
    display: inline-block;
    margin: .75em 0 .75em 10px;
}

#sort-links ul li {
    padding-left: 10px;
    display: inline-block;
}

.desc a::after, .asc a::after {
    font-family: "FontAwesome";
    display: inline-block;
    height: 0;
    width: 0;
    margin-right: 16px;
}

.desc a::after {
    content: "\00a0\f0d8";
}

.asc a::after {
    content: "\00a0\f0d7";
}


#secondary-nav, .secondary-nav {
    margin-bottom: 1.5em;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    clear: both;
}

#secondary-nav li, .secondary-nav li {
    padding: 1.5em 0;
    margin-right: 20px;
}

.navigation li {
    float: left;
}

#secondary-nav a, .secondary-nav a {
    color: #666;
}

nav.pagination-nav {
    clear: both;
}

.pagination {
    float: left;
    padding-left: 0;
    margin: 0 0 1.5em 0;
}
.pagination li {
    height: 3em;
    border: solid #e7e7e7;
    border-width: 1px 0 1px 1px;
    float: left;
    list-style-type: none;
}
.pagination a, .pagination form {
    text-decoration: none;
    padding: 0 10px;
    line-height: 36px;
    display: inline-block;
}
.page-input input[type="text"] {
    border: 1px solid #ccc;
    text-align: right;
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}
.pagination li:last-of-type {
    border-right: 1px solid #e7e7e7;
}



#outputs {
        font-size: .9em;
        clear: left;
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid #bbb;
    }

#cms-content-footer .cms-report-problem {
    color: #0000ee;
}

#collection-items h2 {
    border-bottom: 1px solid #ddd;
}
#collection-items h2 a {
    color: #333;
    text-decoration: none;
}
#item-filters {
    clear: both;
}
#item-filters ul, 
#search-filters ul {
    padding-left: 0;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    margin: -.75em 0 0;
}
#item-filters ul > li, 
#search-filters ul > li,
#search-results span.item-type
{
    display: inline-block;
    background-color: #ddd;
    padding: .375em .75em;
    margin: 0 .75em .75em 0;
}

#search-results .span4.item:nth-of-type(4n+1) {
    clear:left;
}

#search-results .span4.item a {
    display: block;
}

.search #cms-content h1 {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
}

#item-filters ul, #search-filters ul {
    list-style-type: none;
}
#secondary-nav .active a, 
.secondary-nav .active a {
    background: #fff;
    color: #333;
    font-weight: bold;
}

.featured, #featured-exhibit {
    overflow: hidden;
    background: #ddd;
    padding: 0 3.5% 1em;
    margin-bottom: 1.5em;
}

.item-file > .video {
    border: 1px solid #bbb;
}

.view-items-link {
  margin-top: 1em;
}
.item-file.application-pdf a.download-file,
#item-images div[class*=" image-"] a.download-file {
    /* Make Chrome happy */
    display: block;
}

.item-file.application-pdf a.download-file::after,
#item-images div[class*=" image-"] a.download-file::after { 
    text-align: center;
    display: block;
    color: #fff;
    background-color: rgba(0,0,0,.75);
    padding: .25em 0;
    overflow: hidden;
    text-decoration: none;
}

#item-images div[class*=" image-"] a.download-file::after {
    content: "Click to Enlarge";
}

.item-file.application-pdf a.download-file::after { 
    content: "View PDF";
}

a.download-file {
    text-decoration:none;
}

.lib-form input[type="text"],
.lib-form select {
  width: 96%;
  padding: .25em 1%;
  font-size: 1em;
}

#query-types br {
    display: none;
}

#advanced-form {
  border: 1px solid #bbb !important;
}

#advanced-form legend {
  padding: .5em 0 .25em;
}

nav ul.navigation {
  margin-left: 0 !important;
}

#more-toggle {
  font-size: .75em;
  margin: .75em 0;
  color: #0000ee;
  cursor: pointer;
}

#advanced-form.open {
  padding: .5em;
}

#search-filters ul > li:last-child::after {
    content: none;
}

#search-filters ul li ul {
  display: inline-block;
  border-bottom: none;
}

#search-filters ul li ul li {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.items #primary > a {
    display: inline-block;
    margin-top: 1.5em !important;
    font-size: .8em !important;
}



@media screen and (max-width: 800px) {
  #mobile-nav {
    display: block;
  }
  #primary-nav {
    display: none;
  }
}

@media screen and (min-width: 600px) {


    /* Set the default column size to be 25% */
    #item-images .item-file,
    .collection.record,
    .item.record,
    .item.hentry,
    .exhibits .exhibit,
    .row .span4 {
        width: 24%;
        float:left;
        margin: 1em 1% 2em 0;
    }

   .collection.record:nth-of-type(4n+4),
   .items .item.record:nth-of-type(4n+1) {
        clear: left;
   }

   #search-results .file {
    height: 18em;
}

#search-results .file > a:nth-child(2) {
    height: 3em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.collections .item.hentry {
    height: 32em;
}

    #home .col-2,
    .row .span8 {
        float:left;
        margin: 1em 1% 2em 1%;
        width: 48%;
    }
    
    /* If div has video or audio, make it bigger */
    #item-images .gvsu_media
     {
        width: 49%;
        float: left;
        
    }

    #item-images .gvsu_media:nth-child(3) {
        clear: left;
    }

    #item-images .gvsu_media .video,
    #item-images .gvsu_media .audio
    {
        background-color: #575757;
    }


    .gvsu_only_file {
        width: auto !important
    }

     .gvsu_only_video {
        width: 100% !important
    }

    /* Navigation */
    #cms-body .cms-navigation > ul > li {
        width: auto;
    }


    .item.record .item-description{
        max-height: 4.5em;
        overflow: hidden;
    }

    .item.record .item-description{
        max-height: 4.5em;
        overflow: hidden;
    }

    #home .item.record,
    #featured-collection .collection.record {
        width: auto !important;
        float: none !important;
        height: auto !important;
    }

    #home .item.record .item-description{
        max-height: auto;
        overflow: auto;
    }
   
}

.featured img, 
#featured-exhibit img,
#featured-collection img {
    float: left;
    height: 10.5em !important;
    width: auto !important;
    background-color: #fff;
    margin-right: .5em;
}

#recent-items .item.record {
    height: auto;
    clear: both;
    padding: .25em 0;
}

#recent-items .item img {
    height: 6em;
    width: auto;
    float: left;
    margin-right: .4em;
}
